@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* ======== THEME ROOT VARIABLES ======== */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Tambahkan ini agar Poppins dipakai global */
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

/* ======== DARK MODE ======== */
@custom-variant dark (&:where(.dark, .dark *));
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ======== THEME COLOR MAPPING ======== */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

/* ======== GLOBAL BODY STYLES ======== */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.prose img {
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.prose h1, .prose h2, .prose h3 {
  scroll-margin-top: 100px; /* biar enak kalau pakai anchor */
}


@layer base {
  .prose h1, .prose h2, .prose h3 {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
  }

   .prose p{
    margin-bottom: 0.25em;
  }

  /* Menambahkan gaya untuk blockquote di dalam .prose */
  .prose blockquote {
    border-left-width: 0.25rem; /* Garis kiri tebal */
    border-left-color: #d1d5db; /* Warna garis kiri (abu-abu muda) */
    padding-left: 1em; /* Jarak dari garis kiri */
    font-style: italic; /* Teks miring */
    color: #6b7280; /* Warna teks sedikit redup */
    margin-bottom: 1em;
  }

  /* Mengatur jarak antar item pada list agar lebih rapat */
  /* .prose ul > li,
  .prose ol > li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  } */

  /* Mengatur indentasi list agar lebih menjorok ke dalam */
  .prose ul,
  .prose ol {
    padding-left: 2.5em; /* Sesuaikan nilai ini untuk mengatur kedalaman indentasi */
  }
}


/* Global Styles for Tiptap/Prose Code Blocks */
.prose pre {
  @apply bg-gray-800 text-gray-100 dark:bg-gray-700 p-2 dark:text-white rounded-lg my-4 overflow-x-auto;
}

.dark .prose pre {
  @apply bg-gray-400 text-gray-800 dark:bg-gray-700 dark:text-white;
}

.prose pre code {
  @apply bg-transparent p-0;
}

/* Inline code style */
.prose code:not(pre > code) {
  @apply bg-gray-200 dark:bg-gray-700 text-red-600 dark:text-red-400 font-mono text-sm px-1.5 py-0.5 rounded-md;
}
